
// mixin-ები ცალკე გაიტანე _mixin.scss შექმენი და იქ დაწერე ყველა mixin

@mixin for-responsive { // ეს კარგი მაგრამ სხვა რესპონსივის mixin-ები?
    @media (max-width: 76rem) {
        @content;
    }
}
 // ესენი გამოიყენე
@mixin xs-up {
    @media (min-width: 22.5rem) { @content; }
}
@mixin sm-up {
    @media (min-width: 36rem) { @content; }
}
@mixin md-up {
    @media (min-width: 48rem) { @content; }
}
@mixin lg-up {
    @media (min-width: 64rem) { @content; }
}
@mixin xl-up {
    @media (min-width: 82rem) { @content; }
}

// mixin გამოიყენე მაშინ როცა რამე პარამეტრი გაქ გადასაცემი თორემ სხვა შემთხვევაში Extend/Inheritance იდიალურია

@mixin font-md { // mixin ების მაგივრად https://www.sitepoint.com/the-benefits-of-inheritance-via-extend-in-sass/ ამას გადახედე
    font-family: "BPG Algeti Compact", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

@mixin flex-column { // mixin ების მაგივრად https://www.sitepoint.com/the-benefits-of-inheritance-via-extend-in-sass/ ამას გადახედე
    display: flex;
    flex-direction: column;

}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}


.footer-section {

        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f5f5f5;
        margin-top: auto;

        @include for-responsive {
            position: unset;
        }

        &__top {
            display:flex;
            justify-content: space-between;
            border-bottom: .1rem solid #d4d4d4;
            margin: 0 3%;

            @include for-responsive {
                position: none;
                @include flex-column;
            }

        }

        &__column {

            padding: 0 0 10%;

            @include for-responsive {
                padding: 0;
                text-align: center;
                width: 100%;
             }

        }

        &__blog {

            width: 15%;
            @include flex-column;



            @include for-responsive {
                width: auto;
                align-items: center;

            }


            &__blog-article {
                display: flex;
                margin-bottom: 1rem;
                align-items: center;


                @include for-responsive {
                    flex-direction: column;
                }


                &__blogimage {
                    width: 5rem;
                    height: 5rem;
                    padding-right: 1.5rem;

                    @include for-responsive {
                        padding: 1rem 0;
                    }
                }

                .blog-link {
                    @include font-md;
                    text-decoration: none;
                    color: rgb(31, 30, 30);
                    letter-spacing: 0.036rem;
                    line-height: 1.3rem;
                }
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 4rem;

            @include for-responsive {
                padding: 1rem 2rem;
            }

            &__tbc {
                display: flex;
                align-items: center;

                @include font-md;
                line-height: 2.7rem;
                margin-right: .5rem;
                vertical-align: top;

                span {
                    margin-right: .5rem;
                }

            }

            &__icons {
                display: flex;
                flex-wrap: wrap;
                width: 25%;
                justify-content: center;

                @include for-responsive {
                    margin-bottom: 1rem;
                }

                a {

                    text-decoration: none;
                    color: rgb(31, 30, 30);
                    margin-right: 5%;
                }
                .fa {
                    border: .1rem solid #e0e0e0;
                    border-radius: 50%;
                    padding: 1rem 1.2rem;
                    font-size: 1.5rem;
                    width: 2rem;
                    text-align: center;
                }
            }

        }
        &__row {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            @include for-responsive {
                @include flex-column;
                padding: 1rem 2rem;
            }
        }

        &__copyright {
            color: #1d1d1d;
            // font-family: "Deja Vu Sans";
            // font-family: 'Mukta', sans-serif;
            @include font-md;
            line-height: 3rem;
        }

        &__title {
            color: #1d1d1d;
            // font-family: "Deja Vu Sans";
            font-family: "BPG Algeti Compact", sans-serif;
            font-size: 1.4rem;
            font-weight: 300;
            letter-spacing: 0.042rem;
        }


        &__list-item {
            list-style: none;

            a {
                text-decoration: none;
                color: #1d1d1d;
                @include font-md;
                line-height: 3rem;


            &:hover {
                color: rgb(32, 32, 32);
                text-decoration: underline;

            }
        }
    }
}

