@import 'abstracts/mixins';
@import 'abstracts/variable';
@import 'base/reset';
@import 'base/typography';

.info-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    margin-right: auto;


    &__main {
        position: relative;
        margin:auto;
        overflow: hidden;

        @include sm-up {
            width: inherit;
        }

        img {
            @include sm-up {
                position: absolute;
                z-index: -1;
                height: 100%;
                width: 100%;
                
            }
        }

    }

    &__desc {
        position: absolute;
        width: 35%;
        padding: 0 0 0 5%;
        box-sizing: border-box;
        top: 10rem;

        @include md-up {
            position: unset;
            position: unset;
            display: flex;
            margin: auto;
            width: 70%;
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        h5 {
            font-size: 3.2rem;
            margin: 1rem 4rem 2rem 0rem;
            font-weight: 400;

            @include md-up {
                margin: 0;
                font-size: 2rem;
                margin-bottom: 4rem;
            }
        }

        p {
            color: rgba(0, 0, 0, 0.8);
            font-family: "Deja Vu Sans";
            font-size: 1.6rem;
            padding: 1rem 0rem;
            font-weight: 300;

            @include md-up { 
                display: none;
            }
        }

        .choose-banner {
            cursor: pointer;
            width: 14rem;
            border-radius: 4.4rem;
            background-color:$bg-color-2;  
            font-weight: 400;
            border: none;
            text-align: center;
            display: block;

            a {
                text-decoration: none;
                line-height: 4.4rem;
                letter-spacing: .056rem;
                color: $white;
                font-size: 1.4rem;
                font-weight: 400;
            }

            @include md-up {
                margin-bottom: 5%;
            }
        }
    }

    &__list {
        display: flex;
        position: absolute;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50rem;
        right: 0;
        top: 2rem;

        @include md-up { 

            width: 100%;
            justify-content: center;
    
        }

        @include sm-up  {

            display: none;

        }

    }

    &__list-item {
        padding: 1rem;

        @include sm-up  {
            padding: 0;
         }

         @include md-up  {
            padding: 1rem;



            // &:nth-child(even) {
            //     margin-left: 3rem;
            //   }
         }

    }

}