@import 'abstracts/mixins';
@import 'abstracts/variable';
@import 'base/reset';
@import 'base/typography';


.categories-container {

    // display: flex;
    // justify-content: center;
    position: relative;
    margin-bottom: 5%;


    &__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 135rem;
        margin: auto;
        position: relative;

        .container-text {
            color: $black;
            font-family: "BPG WEB 001 Caps";
            font-size: 2rem;
            font-weight: 400;
            margin: 0;
            position: absolute;
            left: 0;
            top: -1rem;
            margin-left: 5rem;

            @include sm-up {
                margin-top: 1rem;
                border-top: .1rem solid rgb(34, 33, 33);
            }

        }

        
    }

    &__items {
        background-color: $bg-color;
        margin: 3rem;
        display: flex;
        align-items: center;
        padding: 2rem 0.8rem;
        width: 20%;
        position: relative;
        text-align: center;
        border-radius: .5rem;
        margin-right: 0;



        @include md-up {
            width: 37%;
            margin-left: 0;
        }

        @include lg-up {

            width: 40%;
            justify-content: center;
            margin-left: 0;
            &:nth-child(odd) {
                margin-left: 11%;
            }

            &:nth-child(even) {
                margin-left: 3%;
            }

        }

        @include sm-up {
            width: 100%;
            margin: 4rem 1rem;

            &:nth-child(odd) {
                margin-left: 1rem;
            }
            &:nth-child(even) {
                margin-left: 1rem;
            }

        }



        img {
            width: 100%;
        }

        p {
            position: absolute;
            bottom: -4rem;
            left: 15rem;
            color: $black-2;
            font-family: $font-2;
            font-size: 1.4rem;
            font-weight: 400;
            left: 28%;

            @include sm-up {
                left: 40%;
            }

        }
    }
}