@mixin for-responsive { // ეს კარგი მაგრამ სხვა რესპონსივის mixin-ები?
    @media (max-width: 76rem) {
        @content;
    }
}
 // ესენი გამოიყენე
@mixin xs-up {
    @media (max-width: 22.5rem) { @content; }
}
@mixin sm-up {
    @media (max-width: 36rem) { @content; }
}
@mixin md-up {
    @media (max-width: 48rem) { @content; }
}
@mixin lg-up {
    @media (max-width: 64rem) { @content; }
}
@mixin xl-up {
    @media (max-width: 82rem) { @content; }
}

// mixin გამოიყენე მაშინ როცა რამე პარამეტრი გაქ გადასაცემი თორემ სხვა შემთხვევაში Extend/Inheritance იდიალურია

.font-md { // mixin ების მაგივრად https://www.sitepoint.com/the-benefits-of-inheritance-via-extend-in-sass/ ამას გადახედე
    font-family: "BPG Algeti Compact", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
