
@import 'mixin';
@import 'variable';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

.footer-section {

        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $bg-color;
        margin-top: auto;

        @include md-up {
            position: unset;
        }

        &__top {
            display:flex;
            justify-content: space-between;
            border-bottom: .1rem solid $light-gray;
            margin: 0 3%;

            @include md-up {
                position: none;
                display: flex;
                flex-direction: column;
            }

        }

        &__column {

            padding: 0 0 10%;

            @include md-up {
                padding: 0;
                text-align: center;
                width: 100%;
             }

        }

        &__blog {

            width: 15%;
            display: flex;
            flex-direction: column;



            @include md-up {
                width: auto;
                align-items: center;

            }


            &__blog-article {
                display: flex;
                margin-bottom: 1rem;
                align-items: center;


                @include md-up {
                    flex-direction: column;
                }


                &__blogimage {
                    width: 5rem;
                    height: 5rem;
                    padding-right: 1.5rem;

                    @include md-up {
                        padding: 1rem 0;
                    }
                }

                .blog-link {
                    @extend .font-md;
                    text-decoration: none;
                    color: rgb(31, 30, 30);
                    letter-spacing: 0.036rem;
                    line-height: 1.3rem;
                }
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 4rem;

            @include for-responsive {
                padding: 1rem 2rem;
            }

            &__tbc {
                display: flex;
                align-items: center;

                @extend .font-md;
                line-height: 2.7rem;
                margin-right: .5rem;
                vertical-align: top;

                @include xs-up {
                    display: flex;
                    flex-direction: column;

                }

                span {
                    margin-right: .5rem;
                }

            }

            &__icons {
                display: flex;
                flex-wrap: wrap;
                width: 25%;
                justify-content: center;

                @include md-up {
                    margin-bottom: 1rem;
                    width: 100%;
                }

                a {

                    text-decoration: none;
                    color: rgb(31, 30, 30);
                    margin-right: 2.5%;
                }
                .fa {
                    border: .1rem solid $light-gray-2;
                    border-radius: 50%;
                    width: 4rem;
                    text-align: center;
                    line-height: 4rem;
                    font-size: 1.5rem;
                    text-align: center;
                }
            }

        }
        &__row {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            @include md-up{
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem;
            }
        }

        &__copyright {
            color: #1d1d1d;
            // font-family: "Deja Vu Sans";
            font-family: $font-1;
            @extend .font-md;
            line-height: 3rem;
        }

        &__title {
            color: #1d1d1d;
            // font-family: "Deja Vu Sans";
            font-family: $font-1;
            font-size: 1.4rem;
            font-weight: 300;
            letter-spacing: 0.042rem;
        }


        &__list-item {
            list-style: none;

            a {
                text-decoration: none;
                color: #1d1d1d;
                @extend .font-md;
                line-height: 3rem;


            &:hover {
                color: rgb(32, 32, 32);
                text-decoration: underline;

            }
        }
    }
}

